/* Importing Montserrat and Roboto from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap');


* {
    padding: 0;
    font-family: Poppins;
    /* overflow-x: hidden; */
}
.active{
    font-weight: bolder;
}
/* HOME PAGE */

.creative{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(Assets/Images/DIT\ COVER.jpg)
}

.creative p{
    box-sizing: border-box;
    position: relative;
    font-size: 3.8vw;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.1vw #00629B;
    text-transform: uppercase;
}

#ADVANCING::before {
    content: "ADVANCING";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00629B;
    -webkit-text-stroke: 0.1vw #00629B;
    border-right: 2px solid #00629B;
    animation: animate 6s linear infinite;
    overflow: hidden;

}

#TECHNOLOGY::before {
    content: " TECHNOLOGY FOR HUMANITY...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00629B;
    -webkit-text-stroke: 0.1vw #00629B;
    border-right: 2px solid #00629B;
    animation: animate 6s linear infinite;
    overflow: hidden;

}

#FOR::before {
    content: " FOR HUMANITY...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00629B;
    -webkit-text-stroke: 0.1vw #00629B;
    border-right: 2px solid #00629B;
    animation: animate 6s linear infinite;
    overflow: hidden;

}

#HUMANITY::before {
    content: " HUMANITY...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00629B;
    -webkit-text-stroke: 0.1vw #00629B;
    border-right: 2px solid #00629B;
    animation: animate 6s linear infinite;
    overflow: hidden;

}

@keyframes animate{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

#cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(Assets/Images/DIT\ COVER.jpg);
}

.slider .owl-item.active.center .slider-card{
    transform: scale(1);
    opacity: 1;
   }

   .slider-card{
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0px 15px 45px -20px rgba(206, 191, 191, 0.5);
    transform: scale(0.75);
    opacity: 0.5;
    transition: all 0.3s;
   }

   .card-img-top{
    border-radius: 5px 5px;
    height: 250px;
   }

   .effect{
    box-shadow: 0px 45px 45px -20px rgba(206, 191, 191, 0.5);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
   }

   .effect.LCS-box{
    align-items: center;
    justify-content: center;
   }

   .effect:hover {
    box-shadow: none;
    transform: translateY(5px);
   }

   .iconbox{
    width: 75px;
    height: 75px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #00629B;
    font-size: 32px;
    border-radius: 100px;
   }

   .iconbox img{
    width: 50px;
   }

   .center-heading{
    text-align: center;
    font-weight: bold;
   }

/*LINK TO GLOBAL SITES*/
.up {
    margin: 0;
    padding: 0;
    position: relative;
    left: -25px;
    background-color: #fff;
    padding-bottom: 0.5rem;
    width: 110%;
}

.up-item {
    text-decoration: none;
}

.up-item:hover {
    color: blueviolet;
}


/* NAVBAR Classes*/

.top-items {
    font-family: "Montserrat";
    font-weight: 500;
}

.nav-link.top-link {
    font-size: medium;
    color: rgb(92, 91, 91);
    width: fit-content;
}

nav.navbar div div ul li,
div.up ul li {
    display: inline;
    
}

hr {
    position: relative;
    bottom: 9px;
    color: gray;
}

.pad {
    margin-top: 35px;
}

.navbar{
    box-shadow: 0px 15px 45px -20px rgba(206, 191, 191, 0.5);
}

nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li :hover {
    color: #fff;
}

nav.shift ul li :after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #00629b;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li :hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
    border-radius: 30px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .25s;
}

#footer {
    text-align: center;
    padding: 2%;
    background-color: #00629b;
    width: 103%;
}

.foot {
    margin: 20px 25px;
    color: #fff;
    font-size: 140%;
}

.copyright-text {
    color: #fff;
    margin-top: 20px;
    opacity: 50%;
}
.copyright-text a {
    text-decoration: none;
    color:white;
    margin-top: 20px;
}
.copyright-text a:hover {
    text-decoration: none;
    color:white;
    margin-top: 20px;
}

/* teams page css */

.faculty-adviser {
    text-align: center;
    font-weight: 900;
    margin-top: 3%;
}

.card1 {
    /* font-family:'Baloo Bhai 2', cursive; */
    /* width: 300px; */
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    transition-duration: 0.4s;
    transition-property: transform;
    transform-origin: 0% 30%;
}

.card1:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.card2 {
    /* width: 300px; */
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    transition-duration: 0.4s;
    transition-property: transform;
}

.card2:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.card3 {
    /* width: 300px; */
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    transition-duration: 0.4s;
    transition-property: transform;
    transform-origin: 100% 30%;
}

.card3:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.card-image img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 10px solid #fff;
}

.card-content h3 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.card-content p {
    font-size: 16px;
    text-align: justify;
    padding: 0 20px 5px 20px;
}

.icons {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.icons a {
    text-decoration: none;
    font-size: 20px;
    color: #00629B;
    padding: 0 14px;
    transition-duration: 0.4s;
    transition-property: transform;
}

.icons a:hover {
    color: black;
    transform: scale(1.5);
}

.card1.col-4 {
    padding: 0;
}

.card2.col-4 {
    padding: 0;
}

.card3.col-4 {
    padding: 0;
}

.student-council-heading {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 10%;
    font-weight: 900;
    /* font-family:'Baloo Bhai 2', cursive; */
}
.post-holding{
    font-weight: bold;
    color: #00629B;
    
}
.nav-item {
    width: calc(100%/3);
}

.nav-link {
    font-size: 27px;
}

.nav-pills .nav-link.mx-auto.active {
    background-color: #00629B;
    color: #fff;
    border: 3px solid #00629B;
    border-radius: 35px;
    font-weight: 1000;
}

.nav-pills .nav-link {
    background-color: #fff;
    color: #888;
    font-weight: 100;
    margin-right: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 5%;
    transition-duration: 0.4s;
    transition-property: transform;
}

.nav-pills .nav-link:hover {
    border: none;
    transform: scale(1.2);
    color: black;
}

.nav-pills .nav-link.active:hover {
    transform: scale(1);
}

.messege h2 {
    text-align: center;
    margin-top: 3%;
}

.teampage {
    background-color: #fff;
    background-image: -webkit-linear-gradient(220deg, #00629b 5%, #fff 35%);
    overflow-x: hidden;
}

.card-content h3 {
    margin-bottom: 6%;
}

@media (max-width: 480px) {
    .card1:hover {
        transform: scale(1);
    }

    .card2:hover {
        transform: scale(1);
    }

    .card3:hover {
        transform: scale(1);
    }

    .up {
        background-color: #fff;

    }

    .up-item {
        font-size: 55%;
    }

    .container-fluid {
        padding-right: 5%;
    }

    .logo {
        height: 100%;
        width: 100%;
    }

    .navbar-brand {
        width: 70%;
    }
}

/* EVENTS */

.event-page {
    /*background-image: -webkit-linear-gradient(220deg, #00629b 5%, #fff 35%);*/
    overflow-x: hidden;
}

#grbar {
    margin: 00px;
    background-image: linear-gradient(to right, #1e5296, #19a1d7);
    height: 120px;
}

.main-heading {
    font-size: 60px;
    margin: 50px 0px 40px 0px;
}

.intro-para {
    font-size: 16px;
}

.headings {
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    filter: drop-shadow(0 2px 6px lightgrey);
}

.upcoming-events {
    margin: 0% 2%;
    padding: 80px 0px;
}

.u-container {
    padding: 20px 0px;
    background: rgba(211, 211, 211, 0.5);
}

.u-row {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 2% 20% 2% 24%;
    background: white;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
    border-radius: 0rem;
}

.u-row p {
    font-size: 14px;
}

.month {
    margin-top: 20px;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-column {
    padding-left: 8px;
}

.past-events {
    margin: 0% 10%;
    /*padding: 40px 0px;*/
}

.main-row {
    padding: 22px 10px;
    margin-bottom: 10%;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
    border-radius: 0rem;
}

.event-image {
    transform: translateY(-50px);
    object-fit: cover;
    border-radius: 0rem;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
}

.event-date span {
    color: black;
    font-weight: 500;
}


.post:not(:last-child) {
    margin-bottom: 50px;
}

.hide {
    display: none;
}


/* ABOUT PAGE */

.about-body {
    background-image: -webkit-linear-gradient(220deg, #00629b 5%, #fff 35%);
    overflow-x: hidden;
}

.about {
    margin: 0 90px 90px 90px;
    background-image: url(./Assets/Logo/ieee-logo.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.about-content {
    font-size: 1.2rem;
    margin: 20px 0 30px 0;
    font-weight: 500;
    font-family: "Montserrat";
}

.h3-space {
    margin-top: 50px;
}

.about-image {
    background-image: url(./Assets/Images/gallery_about/some.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    height: auto;
    width: 70%;
    margin-bottom: 70px;
    margin: 4% auto 6%;
    border-radius: 15px;
}

.about-grid {
    padding-top: 12%;
    padding-bottom: 10%;
}

.about-image11 {
    background-color: #fff;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 20px;
    height: 70px;
    width: auto;
    background-color: #cfeff9;
}

.about-image22 {
    background-color: #fff;
    margin-left: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    text-align: center;
    line-height: 1.6;
    background-color: #cfeff9;

}

.card-img-about {
    width: 100%;
    padding-bottom: 8px;
    height: 350px;
    border-radius: 30px;
}

#gallery {
    padding: 30px 100px 50px;
    text-align: center;
}
 #gallery-more{
    margin: 3%;

 }

.gallery-column {
    padding: 3% 2%;
}

.gallery-div {
    background-color: #EFEFEF;
    padding-top: 40px;
    /* border-radius: 30px; */
}

.card-about {
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.gallery-title {
    font-family: "Montserrat";
    font-size: 3rem;
    padding-bottom: 35px;
}

/* .ext-img{
    display: none;
} */

.ext-imgon{
    visibility: visible;
}

@media only screen and (max-width: 480px) {
    .about {
        margin: 0 4% 3% 6%;
        background-image: url(./Assets/Logo/ieee-logo.png);
        background-repeat: no-repeat;
        background-size: 150% 32%;
        background-position: center;
    }

    .about-content {
        font-size: .9rem;
    }

    .about-image {
        height: auto;
        width: 90%;
    }

    #gallery {
        padding: 10% 6% 10%;
        text-align: center;
    }

    .gallery-column {
        padding: 6% 10%;
    }

    .gallery-div {
        padding-top: 5%;
    }

    .gallery-title {
        font-size: 2rem;
        padding-bottom: 4%;
    }

    .about-image11 {
        font-size: 1.5rem;
        /* height: auto;
word-wrap: break-word; */
        height: 45px;
        border-radius: 15px;
    }

    .about-image22 {
        line-height: 1.2;
        font-size: .8rem;
    }

    .card-img-about {
        border-radius: 30px;
        height: 280px;
        padding-bottom: 8px;
    }

    .about-grid {
        padding-top: 12%;
        padding-bottom: 8%;
    }

    nav.shift ul li :after {
        display: block;
        position: absolute;
        top: 0;
        left: -10%;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 130%;
        height: 1px;
        content: '.';
        color: transparent;
        background: #00629b;
        visibility: none;
        opacity: 0;
        z-index: -1;
    }
}

.membership-page{
    overflow-x: hidden;
}
