@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

#grbar{
    margin: 10px;
    background-image: linear-gradient(to right,#1e5296, #19a1d7);
    height: 120px;
}

.main-heading{
    font-size:60px;
    margin: 50px 0px 40px 0px;
}

.intro-para{
    font-size: 20px;
}

.headings{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px  ;
    filter: drop-shadow(0 2px 6px lightgrey);
}

.u-container{
    padding: 20px;
    background: rgba(211, 211, 211, 0.5);
}

.u-row{
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin:20px 300px;
    background: white;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
    border-radius: 0rem;
}

.u-row p{
    font-size: 14px;
}

.month{
    margin-top: 20px;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-column{
    padding-left: 8px;
}

.event-container{
    margin: 80px;
}

.main-row{
    padding:22px 10px;
    margin: 80px;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
    border-radius: 0rem;
}

.event-image{
    transform: translateY(-50px);
    object-fit: cover;
    border-radius:0rem ;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
}

.event-date span{
    color: black;
    font-weight: 500;
}


.post:not(:last-child){
    margin-bottom: 50px;
}

.hide{
    display: none;
}



